<div class="container mt-5">
  <h1 class="text-center">Lista drużyn</h1>
  <%= link_to "Powrót", profile_path, class: "btn btn-secondary" %>
  <%= link_to "Utwórz drużynę", new_team_path, class: "btn btn-primary" %>
  <%# Lista Drużyn %>
  <% @teams.each do |team| %>
    <div class="card mb-3 mt-2">
      <div class="card-body">
        <h5 class="card-title"><%= team.name %></h5>
        <p class="card-text"><%= team.description %></p>
        <%# Wypisanie użytkowników z drużyny %>
        <p class="card-text">
          Użytkownicy drużyny:
          <% team.users.each do |user| %>
            <%= user.email %>
            <%# Dodaj spację między adresami email %>
            <%= ", " unless user == team.users.last %>
          <% end %>
        </p>
        <div class="row justify-content-end">
          <div class="col-2 col-md-2 col-lg-1">
            <%= link_to "Edytuj", edit_team_path(team), class: "btn btn-warning btn-block" %>
          </div>
          <div class="col-2 col-md-2 col-lg-1">
            <%= button_to "Usuń", team_path(team), method: :delete, class: "btn btn-danger btn-block", form: { id: "delete-team-form" } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var deleteTeamForm = document.getElementById("delete-team-form");

    if (deleteTeamForm) {
      deleteTeamForm.addEventListener("submit", function(event) {
        var confirmed = confirm("Czy na pewno chcesz usunąć drużynę?");

        if (!confirmed) {
          event.preventDefault();
        }
      });
    }
  });
</script>
