<div class="container mt-5">
  <h1 class="text-center">Twój Profil</h1>
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <h3>Informacje o użytkowniku</h3>
      <p>Email: <%= @user.email %></p>
      <p>Rola: <%= @user.role %></p>
      <% if @user.team.present? %>
        <p>Drużyna: <%= @user.team.name %></p>
      <% else %>
        <p>Nieprzypisany do żadnej drużyny</p>
      <% end %>
      <%= link_to "Edytuj hasło", edit_password_path, class: "btn btn-warning" %>
    </div>
  </div>
  <% if @user.role == "admin" %>
    <div class="row mt-4">
      <div class="col-md-12 offset-md-3">
        <h3>Panel Administratora</h3>
        <div style="display: flex; gap: 8px;">
          <%= link_to "Zarządzaj zespołami", teams_path, class: "btn btn-primary" %>
          <%= link_to "Utwórz drużynę", new_team_path, class: "btn btn-success" %>
          <%= link_to "Zarządzaj spotkaniami", events_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <h3>Zapisz się do drużyny</h3>
        <%= form_with(model: @user, url: join_team_path, method: :post) do |form| %>
          <div class="mb-3">
            <%= form.label :team_id, "Wybierz drużynę" %>
            <%= form.collection_select :team_id, Team.all, :id, :name, prompt: "Wybierz drużynę", class: "form-control" %>
          </div>
          <%= form.submit "Zapisz się do drużyny", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
