<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="col-md-6">
    <div class="mb-3 col-md-9 text-center">
        <h1 class="mb-4">Zaloguj się</h1>
    </div>
    <%= form_with model: @user, url: session_path, class: "row g-2" do |form| %>
        
        <div class="mb-2 col-md-9">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control", required: true%>
        </div>

        <div class="mb-2 col-md-9">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", required: true %>
        </div>

        <div class="col-md-9 text-center">
        <%= form.submit "Zaloguj", class: "btn btn-success" %>
        </div>
    <% end %>